[report]
omit =
    tests/*
    env/*
    venv/*
    docs/*
    */__init__.py
    demo/*
    examples/*
    */__pycache__/*
    test_units/*
    .env
    __pycache__
    *.pyc
fail_under = 95

[run]
source = core, api, notifier, utils, ml, backtest, data, optimization, portfolio, scripts
